<!DOCTYPE html>
<html>
<head>
  <title>Python Projects</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="generate_qr.html">About</a></li>
    </ul>
  </nav>
  <h1>Python Projects</h1>
  <ul>
    {% for project in projects %}
      <li><a href="/projects/{{ project }}">{{ project }}</a></li>
    {% endfor %}
  </ul>

  <input type="text" id="text" name="text" required>
  <button type="submit">Is it thala?</button>

</body>
</html>
